<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('상품관리')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('admin-itemList')">
</nav>

<div class="container">
    <h2>상품 리스트</h2>
    <div>총 상품수 : <span th:text="${items.getTotalElements}"></span></div>

    <form class="form-inline d-flex justify-content-end" method="get" th:action="@{/admin/productManagement}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-outline-success">검색</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">브랜드</th>
            <th scope="col">상품명</th>
            <th scope="col">판매가격</th>
            <th scope="col">재고수량</th>
            <th scope="col">등록시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}">id</td>
            <td th:text="${item.brandName}">브랜드</td>
            <td th:text="${item.itemName}">상품명</td>
            <td th:text="${item.price}">판매가격</td>
            <td th:text="${item.stockQuantity}">재고수량</td>
            <td th:text="${item.createDate}">등록시간</td>
            <td th:text="${item.updateDate}">수정시간</td>
            <td><a type="button" class="btn btn-primary" th:href="@{/admin/itemDetail(id=${item.id})}">수정</a></td>

        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == items.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/productManagement(page=${items.pageable.pageNumber - 1}, searchText=${param.searchText})}"
                   tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            <li class="page-item" th:classappend="${i == items.pageable.pageNumber + 1} ? 'disabled'"
                th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/admin/productManagement(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}">1</a></li>

            <li class="page-item" th:classappend="${items.totalPages == items.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/admin/productManagement(page=${items.pageable.pageNumber +1}, searchText=${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/admin/uploadItem}">상품등록</a>
    </div>
</div>
<footer th:replace="fragments/common :: footer">
</footer>
</body>
</html>
