<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('KREAM | 한정판 거래의 FLEX')">

        <title>uploadItem</title>

    </head>
    <body>
        <!-- Navigation-->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('uploadItem')">
        </nav>

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"/>
                            <img class="card-img-top mb-5 mb-md-0" th:if="${item.id != null}"th:src="|/${item.filePath}/${item.storeFileName}|" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">관리자 페이지</div>
                        <h1 class="display-5 fw-bolder">
                            <span th:if="${item.id == null}">상품 등록</span>
                            </h1>
                        <h1 class="display-5 fw-bolder">
                            <span th:if="${item.id != null}">상품 수정</span>
                            </h1>
                        <div class="fs-5 mb-5"></div>

                        <form th:action="@{/admin/uploadItem}" method="post" th:object="${item}" enctype="multipart/form-data">
                            <div class="row g-3 align-items-center">
                                <div class="col-12">
                                    <label for="brandName" class="col-form-label">브랜드명</label>
                                    <input type="text" id="brandName" th:field="*{brandName}" class="form-control">
                                </div>
                                <div class="col-12">
                                    <label for="itemName" class="col-form-label">상품명</label>
                                    <input type="text" id="itemName" th:field="*{itemName}" class="form-control">
                                </div>
                                <div class="col-12">
                                <label for="price" class="col-form-label">가격</label>
                                    <input type="text" id="price" th:field="*{price}" class="form-control">
                                </div>
                                <div class="col-12">
                                <label for="stockQuantity" class="col-form-label">재고수량</label>
                                    <input type="text" id="stockQuantity" th:field="*{stockQuantity}" class="form-control">
                                </div>

                                <div class="col-12">
                                    <label for="file" class="col-form-label" th:if="${item.id == null}">상품 이미지 업로드</label>
                                    <input class="form-control" type="file" th:if="${item.id == null}" id="file" th:field="*{file}">

                                    <div>
                                    <label for="uploadFile" class="col-form-label" th:if="${item.id != null}">상품 이미지</label>
                                        <input class="form-control" type="file" th:if="${item.id != null}" id="uploadFile">
                                        <input class="form-control" type="text" th:if="${item.id != null}"  th:value="*{uploadFileName}">

                                    </div>
                                    <!--                                        <input class="form-control" type="file" id="file" multiple="multiple" th:field="*{file}">-->
                                </div>

                                    <p><div class="col-12"></p>
                                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                        <i class="bi bi-box"></i>
                                        저장하기
                                    </button>
                                <a type="button" class="btn btn-primary" th:href="@{/admin/productManagement}">취소</a>
                                    <button type="button" th:if="*{id} != null" class="btn btn-danger" th:onclick="|deleteItem(*{id})|">삭제</button>
                            </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

<!--         Footer-->
        <footer th:replace="fragments/common :: footer">
        </footer>
        <script>
    function deleteItem(id){
    //Delete /api/deleteItem/{itemId}
    $.ajax({
        url: '/api/deleteItem/' + id,
        type: 'DELETE',
        success: function(result) {
         console.log('result',result);
         alert('삭제됐습니다.');
         window.location.href = '/admin/productManagement';
        }
        });
    }
</script>
    </body>
</html>
