<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/common :: head('KREAM | 한정판 거래의 FLEX')">

        <title>KREAM | 한정판 거래의 FLEX</title>
</head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
    </nav>

    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">KREAM</h1>
                    <p class="lead fw-normal text-white-50 mb-0">한정판 거래의 FLEX</p>
                </div>
            </div>
        </header>


    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">New In</h2>
            <h4 class="fw-bolder mb-4">신규 등록 상품</h4>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="item : ${items}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a href="#" th:href="@{/item/} + ${item.id}">
                            <img class="card-img-top" th:if="${item.getStoreFileName() == null}" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <img class="card-img-top" th:if="${item.getStoreFileName()}" th:src="|@{/image}/${item.getStoreFileName()}|" width="400" height="200"/>
                        </a>

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${item.brandName}">Fancy Product</h5>
                                <!-- Product price-->
                                <span th:text="${item.price} + '원'">$40.00 - $80.00</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" th:href="@{/item/} + ${item.id}">상세 보기</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>

        <hr />

        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">New In</h2>
            <h4 class="fw-bolder mb-4">신규 등록 상품</h4>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="item : ${items}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a href="#" th:href="@{/item/} + ${item.id}">
                            <img class="card-img-top" th:if="${item.getStoreFileName() == null}" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <img class="card-img-top" th:if="${item.getStoreFileName()}" th:src="|@{/home/image}/${item.getStoreFileName()}|" width="400" height="200"/>
                        </a>

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${item.brandName}">Fancy Product</h5>
                                <!-- Product price-->
                                <span th:text="${item.price} + '원'">$40.00 - $80.00</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" th:href="@{/item/} + ${item.id}">상세 보기</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="fragments/common :: footer">
    </footer>
    </body>
</html>
